<%-include('../partials/header')%>
<%-include('../partials/navbar')%>

<div class="container">
    <div class="banner">
        <h1><i>Welcome To Our Blogging site</i></h1>
        <h3><i>We never lack Entertainment</i></h3>
    </div>
    <div class="content">
        <p>Welcome to our vibrant blog space, where inspiration meets information. Dive into a world of captivating articles crafted to enrich your knowledge and spark your curiosity. From insightful tips on personal development to the latest trends in technology, our blog covers a diverse range of topics. Explore thought-provoking perspectives, expert advice, and compelling stories that resonate with your interests. Stay informed, entertained, and connected as our blog invites you on a journey through the realms of education, lifestyle, and innovation. Join our community of avid readers and embark on a continuous quest for knowledge and discovery.</p>
    </div>
    <div>
       <a id="Blogs"href="/blogs">Go To Blogs</a>
    </div>
</div>

<%-include('../partials/footer')%>
